body {
  padding-top: 50px;
}
.page-body {
    padding: 40px 15px;
}
.page-footer {
    background: #e3e3e3;
    
}
/* .starter-template { */
/*   padding: 40px 15px; */
/*   text-align: center; */
/* } */
